# Настройки глобального логгера
handlers = java.util.logging.FileHandler, java.util.logging.ConsoleHandler

# Конфигурация файлового хендлера
# В файл пишутся сообщения с уровнем INFO и выше
java.util.logging.FileHandler.level = INFO
# Установка класса для форматирования
java.util.logging.FileHandler.formatter = java.util.logging.SimpleFormatter
# Выключение режима записи в конец файла
java.util.logging.FileHandler.append = false
# Установка паттерна имени файла лога
java.util.logging.FileHandler.pattern = log.txt

# Конфигурация консольного хендлера
# В консоль выводятся только сообщения с уровнем SEVERE
java.util.logging.ConsoleHandler.level = SEVERE
# Установка класса для форматирования
java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter